 html, body {
    background-color:#E3E3E3;
    margin: 0;
 }
 header {
    background-color:#b70300;
    color:#fff;
    display:block;
    height:70px;
    position:relative;
    width:100%;
    z-index:100; 
    border-bottom: 1px solid #303030;
}
header h2{
    font-size:22px;
    font-weight:normal;
    position:absolute;
    margin-left: 100px;
}
 #leftcol {
    background-color: #FAFAFA;
    border: 1px solid #404040;
    float: left;
    width: 250px;
  }
 .leftcol h1 {
    font-size: 20px;
 }
 .clearfix{
    margin-left: -20px;
    margin-right: 20px;
    font-size: 13px;
 }
 #main {
   margin: 0px;
 }
 #centercol {
   /*border: #f00 1px solid;*/
   margin: 0 260px 0 260px;
 }
 #rightcol {
    background-color: #FAFAFA;
    border: 1px solid #404040;
    float: right;
    width: 250px;
 }
.rightcol h1 {
    font-size: 20px;
 }
 #footer {
   text-align: center;
   border-top: 1px solid #C8C8C8;
   /*border: #fc0 1px solid;*/
 }
 #footerbr { clear: both; } 
 
 
 
.bar.positive {
  fill: steelblue;
}

.bar.negative {
  fill: #C53533;
}

.axis text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}