*{
    margin:0;
    padding:0;
}
body {
    background-color:#E3E3E3;
    font:14px/1.3 Arial,sans-serif;
}
header {
    background-color:#b70300;
    color:#fff;
    display:block;
    height:70px;
    position:relative;
    width:100%;
    z-index:100;
    border-bottom: 1px solid #303030;
}
header h2{
    font-size:22px;
    font-weight:normal;
    position:absolute;
    margin-left: 100px;
}
header a.stuts,a.stuts:visited {
    border:none;
    text-decoration:none;
    color:#fcfcfc;
    font-size:14px;
    left:50%;
    line-height:31px;
    margin:23px 0 0 110px;
    position:absolute;
    top:0;
}
header .stuts span {
    font-size:22px;
    font-weight:bold;
    margin-left:5px;
}

.content-main {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    margin: 20px auto;
    max-width: 1002px;
    min-height: 500px;
    min-width: 930px;
    overflow: visible;
    padding: 10px;
    position: relative;
}
.content-body {
    background: none repeat scroll 0 0 #EEEEEE;
    margin: 0 0 15px;
    padding: 10px 10px 5px;
    position: relative;
}
.content-body h2 {
    display: block;
    font-size: 18px;
    line-height: 20px;
    margin: 0;
    padding: 0 20px;
}
.content-form{
  /*  border-bottom: 1px solid #303030;*/
}
.content-body .content-body-inner {
    background-color: #FAFAFA; 
    border: 1px solid #A6A6A6; 
    border-bottom: 2px solid #747474;
    min-height: 20px;
    max-width: 202px;
    min-width: 200px;
    float: right;
    overflow: hidden;
    padding: 9px 12px;
    position: relative;
}
.content-body .content-body-inner p {
    font-size: 11px;
}
.content-body .content-body-inner .artist-display-slider {   
    text-align: center;
    min-width: 194px;
    min-height: 40px;
    border-bottom: 1px solid #C8C8C8;
    font-size: 10px;
    margin-left: auto;
    margin-right: auto;
    width = 200px;  
}
.content-body .content-body-inner .content-filter-cloud {   
    min-width: 194px;
    min-height: 60px;
    border-bottom: 1px solid #C8C8C8;  
}
.content-body .content-body-inner .content-filter-in {
    font-size: 12px;
    min-width: 194px;
    min-height: 100px;
    float: left;
    margin-bottom: 3px;
}
.content-body .content-body-inner .content-filter-out {
    font-size: 12px;
    border-top: 1px solid #C8C8C8;
    min-width: 194px;
    min-height: 100px;
    float: left;
    margin-bottom: 3px;
}
.content-body .content-body-inner .content-filter-pop {
    border-top: 1px solid #C8C8C8;
    font-size: 10px;
    min-width: 200px;
    min-height: 40px;
    float: right;
}
.content-body .content-body-inner .content-filter-pop .filter-pop-form-div {
    font-size: 10px;
    margin-left: 13px;
    
}
.content-body .content-body-inner .content-filter-events {
    border-top: 1px solid #C8C8C8;
    font-size: 10px;
    min-width: 200px;
    min-height: 40px;
    float: right;

}
.content-body .content-body-inner .content-filter-pop .filter-pop-form-div input.radiob {
    margin-bottom: 6px;
}
    
.content-form {
    padding: 5px 5px;
    margin-left: 35px;
}


/* list of artists */
.artist {
    display: block;
    float: left;
    margin: 10px;
    width: 128px;
}
.artist a {
    text-decoration: none;
}
.artist b {
    color: #1B1B1B;
    display: block;
    font-size: 14px;
    text-align: center;
}
circle.node {
  stroke: black;
  stroke-width: 1px;
  fill: #b70300;
}

line.link {
  stroke: #999;
  stroke-opacity: .6;
}

text.tnode {
  font-size: 11px;
}

